:root {
  --primary-color: #FCDA13;
  --primary-color-rgb: 252, 218, 19;
  --secondary-color: #FDE24B;
  --secondary-color-rgb: 71, 171, 255;
  --tertiary-color: #FDE666;
  --tertiary-color-rgb: 244, 247, 251;
}