RewriteEngine On
RewriteBase /AtoZe/Admin/

# Don't rewrite index.php requests
RewriteCond %{REQUEST_URI} ^/AtoZe/Admin/index\.php [NC]
RewriteRule ^ - [L]

# If not a real file or folder, route to index.php?page=...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [QSA,L]
